<dl class="line-chart-leftpart">
  <dt>
    <label><input type="checkbox" checkbox-indeterminate="isAllChecked()" ng-click="toggleCheckAll($event)" /><span ng-bind="title + dataset.name"></span></label>
  </dt>

  <dd ng-repeat="datum in dataset.data">
    <label><input type="checkbox" ng-model="datum.__checked" /><span ng-bind="datum.name" ng-style="{color: datum.__color}"></span></label>
    <div ng-bind="(datum.filter || dataset.filter)(datum.__current) || datum.__current"></div>
  </dd>
</dl>
<svg>
  <g class="paths">
    <path ng-repeat="datum in dataset.data" ng-class="{hidden: !datum.__checked}" ng-attr-d="{{::genPath(datum)}}" ng-attr-stroke="{{::datum.__color}}" />
  </g>
  <g class="indicator">
    <line y2="100%" />
    <g class="circles">
      <circle ng-repeat="datum in dataset.data" r="3" ng-attr-fill="{{datum.__color}}" ng-class="{hidden: !datum.__checked}" />
    </g>
    <g class="time-label" ng-class="{hidden: !indicatorTime}">
      <rect height="2em" rx="5" ry="5" x="10" width="64"  />
      <text x="42" y="1.1em" ng-bind="indicatorTime | date: 'HH:mm:ss'" />
    </g>
  </g>
</svg>
